@model IEnumerable<WebAppMVC.Models.Employee>
@{
    ViewBag.Title = "Сотрудники";
}

<a class="btn btn-primary" asp-action="Create">Создать1</a>
<br/>
<a class="btn btn-secondary" asp-action="Edit">Создать2</a>

<hr/>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var employe in Model)
        {
            <tr>
                <td>
                    <a asp-action="Delete" asp-route-id="@employe.Id" class="text-danger">
                        <i class="fa fa-trash-alt"></i>
                    </a>
                </td>
                <td>@employe.Id</td>
                <td>
                    <a asp-action="Details" asp-route-id="@employe.Id">@employe.LastName</a>
                </td>
                <td>@employe.FirstName</td>
                <td>@employe.Patronymic</td>
                <td>@employe.Age</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employe.Id">
                        <i class="fa fa-user-edit"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Сотрудников пока нет</p>
}